name: Terraform CI Validation

on:
  push:
    branches:
      - main
      - "feature/*"
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init -backend=false
      - run: terraform fmt -check -recursive
      - run: terraform validate
